<a href="https://colab.research.google.com/github/pateltej721/problem-sets/blob/main/Assignment_3_Tej_Patel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#importing housing_data.csv data set

from google.colab import files
uploaded = files.upload()

Saving housing_data.csv to housing_data (2).csv

In [48]:
import pandas as pd
import numpy as np
import plotnine as pn
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn.model_selection import train_test_split, cross_val_score, KFold
from sklearn.preprocessing import PolynomialFeatures, StandardScaler
from numpy.random import default_rng

In [49]:
import io
df = pd.read_csv(io.BytesIO(uploaded['housing_data.csv']))

In [50]:
df

    Lot Frontage  Lot Area  Street  ...  Mo Sold  Yr Sold  SalePrice
0             60      6756       1  ...        9     2008      78000
1             80     10000       1  ...       12     2007     215000
2             71      9353       1  ...        7     2006     116050
3             57      6420       1  ...        9     2006     123500
4             57      9245       1  ...        2     2008     145000
..           ...       ...     ...  ...      ...      ...        ...
95            71      9187       1  ...        6     2007     134000
96            34      3604       1  ...        2     2008     146000
97           140     11080       1  ...        5     2006     148000
98            60      7200       1  ...        8     2007     140000
99            58      9487       1  ...        6     2007     187000

[100 rows x 37 columns]

In [ ]:
y = df['SalePrice']

In [51]:
del df['Street']

In [ ]:
df

    Lot Frontage  Lot Area  Overall Qual  ...  Mo Sold  Yr Sold  SalePrice
0             60      6756             5  ...        9     2008      78000
1             80     10000             5  ...       12     2007     215000
2             71      9353             4  ...        7     2006     116050
3             57      6420             5  ...        9     2006     123500
4             57      9245             5  ...        2     2008     145000
..           ...       ...           ...  ...      ...      ...        ...
95            71      9187             6  ...        6     2007     134000
96            34      3604             7  ...        2     2008     146000
97           140     11080             6  ...        5     2006     148000
98            60      7200             5  ...        8     2007     140000
99            58      9487             6  ...        6     2007     187000

[100 rows x 36 columns]

In [52]:
del df['Low Qual Fin SF']

In [ ]:
df

    Lot Frontage  Lot Area  Overall Qual  ...  Mo Sold  Yr Sold  SalePrice
0             60      6756             5  ...        9     2008      78000
1             80     10000             5  ...       12     2007     215000
2             71      9353             4  ...        7     2006     116050
3             57      6420             5  ...        9     2006     123500
4             57      9245             5  ...        2     2008     145000
..           ...       ...           ...  ...      ...      ...        ...
95            71      9187             6  ...        6     2007     134000
96            34      3604             7  ...        2     2008     146000
97           140     11080             6  ...        5     2006     148000
98            60      7200             5  ...        8     2007     140000
99            58      9487             6  ...        6     2007     187000

[100 rows x 35 columns]

In [53]:
del df['3Ssn Porch']

In [ ]:
df

    Lot Frontage  Lot Area  Overall Qual  ...  Mo Sold  Yr Sold  SalePrice
0             60      6756             5  ...        9     2008      78000
1             80     10000             5  ...       12     2007     215000
2             71      9353             4  ...        7     2006     116050
3             57      6420             5  ...        9     2006     123500
4             57      9245             5  ...        2     2008     145000
..           ...       ...           ...  ...      ...      ...        ...
95            71      9187             6  ...        6     2007     134000
96            34      3604             7  ...        2     2008     146000
97           140     11080             6  ...        5     2006     148000
98            60      7200             5  ...        8     2007     140000
99            58      9487             6  ...        6     2007     187000

[100 rows x 34 columns]

In [54]:
del df['Mo Sold']

In [ ]:
df

    Lot Frontage  Lot Area  Overall Qual  ...  Misc Val  Yr Sold  SalePrice
0             60      6756             5  ...         0     2008      78000
1             80     10000             5  ...         0     2007     215000
2             71      9353             4  ...         0     2006     116050
3             57      6420             5  ...         0     2006     123500
4             57      9245             5  ...         0     2008     145000
..           ...       ...           ...  ...       ...      ...        ...
95            71      9187             6  ...         0     2007     134000
96            34      3604             7  ...         0     2008     146000
97           140     11080             6  ...         0     2006     148000
98            60      7200             5  ...         0     2007     140000
99            58      9487             6  ...         0     2007     187000

[100 rows x 33 columns]

In [55]:
del df['Year Built']

In [ ]:
df

    Lot Frontage  Lot Area  Overall Qual  ...  Misc Val  Yr Sold  SalePrice
0             60      6756             5  ...         0     2008      78000
1             80     10000             5  ...         0     2007     215000
2             71      9353             4  ...         0     2006     116050
3             57      6420             5  ...         0     2006     123500
4             57      9245             5  ...         0     2008     145000
..           ...       ...           ...  ...       ...      ...        ...
95            71      9187             6  ...         0     2007     134000
96            34      3604             7  ...         0     2008     146000
97           140     11080             6  ...         0     2006     148000
98            60      7200             5  ...         0     2007     140000
99            58      9487             6  ...         0     2007     187000

[100 rows x 31 columns]

In [56]:
del df['Screen Porch']

In [ ]:
df

    Lot Frontage  Lot Area  Overall Qual  ...  Misc Val  Yr Sold  SalePrice
0             60      6756             5  ...         0     2008      78000
1             80     10000             5  ...         0     2007     215000
2             71      9353             4  ...         0     2006     116050
3             57      6420             5  ...         0     2006     123500
4             57      9245             5  ...         0     2008     145000
..           ...       ...           ...  ...       ...      ...        ...
95            71      9187             6  ...         0     2007     134000
96            34      3604             7  ...         0     2008     146000
97           140     11080             6  ...         0     2006     148000
98            60      7200             5  ...         0     2007     140000
99            58      9487             6  ...         0     2007     187000

[100 rows x 30 columns]

In [72]:
df['Total SF'] = df['Total Bsmt SF'] + df['Enclosed Porch'] + df['Gr Liv Area'] + df['Wood Deck SF'] + df['Garage Area'] + df['Open Porch SF'] + df['Pool Area']

In [73]:
df

    Lot Frontage  Lot Area  Overall Qual  ...  Yr Sold  SalePrice  Total SF
0             60      6756             5  ...     2008      78000      1676
1             80     10000             5  ...     2007     215000      3700
2             71      9353             4  ...     2006     116050      2008
3             57      6420             5  ...     2006     123500      2436
4             57      9245             5  ...     2008     145000      2652
..           ...       ...           ...  ...      ...        ...       ...
95            71      9187             6  ...     2007     134000      2926
96            34      3604             7  ...     2008     146000      2723
97           140     11080             6  ...     2006     148000      2866
98            60      7200             5  ...     2007     140000      2593
99            58      9487             6  ...     2007     187000      3097

[100 rows x 32 columns]

In [74]:
df['Total Full Bath'] = df['Bsmt Full Bath'] + df['Full Bath']

df['Total Half Bath'] = df['Bsmt Half Bath'] + df['Half Bath']

In [75]:
df

    Lot Frontage  Lot Area  ...  Total Full Bath  Total Half Bath
0             60      6756  ...                1                0
1             80     10000  ...                2                0
2             71      9353  ...                1                0
3             57      6420  ...                1                1
4             57      9245  ...                1                1
..           ...       ...  ...              ...              ...
95            71      9187  ...                1                1
96            34      3604  ...                2                0
97           140     11080  ...                3                0
98            60      7200  ...                2                0
99            58      9487  ...                3                1

[100 rows x 34 columns]

In [81]:
del df['1st Flr SF']

KeyError: ignored

In [80]:
df

    Lot Frontage  Lot Area  ...  Total Full Bath  Total Half Bath
0             60      6756  ...                1                0
1             80     10000  ...                2                0
2             71      9353  ...                1                0
3             57      6420  ...                1                1
4             57      9245  ...                1                1
..           ...       ...  ...              ...              ...
95            71      9187  ...                1                1
96            34      3604  ...                2                0
97           140     11080  ...                3                0
98            60      7200  ...                2                0
99            58      9487  ...                3                1

[100 rows x 33 columns]

In [82]:
del df['2nd Flr SF']

In [83]:
del df['Bedroom AbvGr']

In [84]:
del df['Bsmt Full Bath']

In [85]:
del df['Bsmt Half Bath']

In [87]:
del df['Bsmt Unf SF']

KeyError: ignored

In [88]:
df

    Lot Frontage  Lot Area  ...  Total Full Bath  Total Half Bath
0             60      6756  ...                1                0
1             80     10000  ...                2                0
2             71      9353  ...                1                0
3             57      6420  ...                1                1
4             57      9245  ...                1                1
..           ...       ...  ...              ...              ...
95            71      9187  ...                1                1
96            34      3604  ...                2                0
97           140     11080  ...                3                0
98            60      7200  ...                2                0
99            58      9487  ...                3                1

[100 rows x 28 columns]

In [89]:
del df['BsmtFin SF 2']

In [90]:
del df['Full Bath']

In [91]:
del df['Half Bath']

In [92]:
df

    Lot Frontage  Lot Area  ...  Total Full Bath  Total Half Bath
0             60      6756  ...                1                0
1             80     10000  ...                2                0
2             71      9353  ...                1                0
3             57      6420  ...                1                1
4             57      9245  ...                1                1
..           ...       ...  ...              ...              ...
95            71      9187  ...                1                1
96            34      3604  ...                2                0
97           140     11080  ...                3                0
98            60      7200  ...                2                0
99            58      9487  ...                3                1

[100 rows x 25 columns]

In [93]:
def get_x_matrix(raw_data): 
  x_mat = raw_data.drop(columns=['SalePrice'])

  return x_mat

In [94]:
get_x_matrix(df)

    Lot Frontage  Lot Area  ...  Total Full Bath  Total Half Bath
0             60      6756  ...                1                0
1             80     10000  ...                2                0
2             71      9353  ...                1                0
3             57      6420  ...                1                1
4             57      9245  ...                1                1
..           ...       ...  ...              ...              ...
95            71      9187  ...                1                1
96            34      3604  ...                2                0
97           140     11080  ...                3                0
98            60      7200  ...                2                0
99            58      9487  ...                3                1

[100 rows x 24 columns]

In [95]:
x = get_x_matrix(df)
y = df.SalePrice

In [96]:
model = LinearRegression().fit(x, y)

In [97]:
model.score(x, y)

0.9027724170197832

In [98]:
model = Pipeline([
    ('poly', PolynomialFeatures(degree=2)),
    ('linreg', LinearRegression(fit_intercept=False))
])

model.fit(x, y)

Pipeline(memory=None,
         steps=[('poly',
                 PolynomialFeatures(degree=2, include_bias=True,
                                    interaction_only=False, order='C')),
                ('linreg',
                 LinearRegression(copy_X=True, fit_intercept=False, n_jobs=None,
                                  normalize=False))],
         verbose=False)

In [99]:
model.score(x, y)

1.0

In [100]:
def mse(model, x, y):
    y_hat = model.predict(x)
    err = np.mean((y - y_hat)**2)

    return err

In [101]:
mse(model, x, y)

4.5418682831592626e-15

In [102]:
kf = KFold(n_splits=10, shuffle=True)
res = cross_val_score(model, x, y, cv=kf, scoring=mse)

In [103]:
res

res.mean()

59177936328.696

In [ ]:
from google.colab import files
uploaded = files.upload()

import pandas as pd
import numpy as np
import plotnine as pn
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn.model_selection import train_test_split, cross_val_score, KFold
from sklearn.preprocessing import PolynomialFeatures, StandardScaler
from numpy.random import default_rng

import io
df = pd.read_csv(io.BytesIO(uploaded['housing_data.csv']))

df

#dropping variables that do not seem important to model SalePrice
del df['Street']
del df['Low Qual Fin SF']
del df['3Ssn Porch']
del df['Mo Sold']
del df['Year Built']
del df['Screen Porch']

#combining predictors to make better predictors 
df['Total SF'] = df['Total Bsmt SF'] + df['Enclosed Porch'] + df['Gr Liv Area'] + df['Wood Deck SF'] + df['Garage Area'] + df['Open Porch SF'] + df['Pool Area']
df['Total Full Bath'] = df['Bsmt Full Bath'] + df['Full Bath']
df['Total Half Bath'] = df['Bsmt Half Bath'] + df['Half Bath']

#deleting variables that are unecessary after making new predictors
del df['1st Flr SF']
del df['2nd Flr SF']
del df['Bedroom AbvGr']
del df['Bsmt Full Bath']
del df['Bsmt Half Bath']
del df['Bsmt Unf SF']
del df['BsmtFin SF 2']
del df['Full Bath']
del df['Half Bath']


def get_x_matrix(raw_data): 
  x_mat = raw_data.drop(columns=['SalePrice'])
#removing SalePrice column to get x variable matrix
  return x_mat


get_x_matrix(df)

x = get_x_matrix(df)
y = df.SalePrice

model = Pipeline([
    ('poly', PolynomialFeatures(degree=2)),
    ('linreg', LinearRegression(fit_intercept=False))
])

model.fit(x, y)